/* Overarching stylings */
body {
    background-color: #d9d9d9 !important;
    color: #252525 !important;
}

h1, h2, h3 {
    color: #af0404 !important;
    margin-top: 10px;
}

#content {
    text-align: center;
    margin-bottom: 20px;
}

/* About */
#about {
    text-align: left;
    max-width: 800px;
    padding: 5px;
    margin: auto;
}

.my-link {
    color: #af0404;
}

.my-link:hover { 
    color:#af0404; 
}

/* Image stylings */
#logo-images {
    width: 250px;
    border-radius: 125px;
}

/* Menu stylings */
#menu {
    padding: 10px;
}

.menu-selection {
    text-align: left;
    /* text-align: center; */
}

.price {
    color: #af0404;
}
