body {
    background-color: #d9d9d9 !important;
    color: #252525 !important;
}

h1, h2, h3 {
    color: #af0404 !important;
}
#content {
    text-align: center;
}

#about {
    max-width: 700px;
    margin: auto;
}

#logo-images {
    margin-top: 10px;
    margin-bottom: 20px;
}

img {
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    border-radius: 125px;
}

.list-group {
  display: table !important;
  margin: 0 auto !important;
}